/* general */
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(167, 149, 149);
}
#app {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #009688 13%, #DCDBD3 13%);
    padding: 30px 0;
}
img {
    height: 100%;
    width: 100%;
}

/* main */
main.container {
    height: 100%;
    padding: 0;
    background-color: white;
}
main .left {
    width: 40%;
    border-right: 1px solid #d1d1d1;
}
main .right {
    width: 60%;
}
main .left .header-me,
main .right .header {
    height: 80px;
    padding: 15px 10px;
    background-color: #EAEAEA;
}

main .left .header-me .me-icons i {
    margin: 0 5px;
    padding: 5px;
    color: #B1B1B1;
    font-size: 1.4rem;
}

main #chat {
    height: calc(100% - 80px * 2);
    padding: 0 10px;
    overflow-y: hidden;    
}
/* utility */

