/* general */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: rgb(167, 149, 149);
    color: black;
}
#app {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #009688 15%, #DCDBD3 15%);
    padding: 30px 0;
}
img {
    height: 100%;
    width: 100%;
}

/* main */
main.container {
    height: 100%;
    padding: 0;
    background-color: white;
}
main .left .header-me,
main .right .header {
    height: 70px;
    padding: 10px;
    background-color: #EAEAEA;
}
main .left .header-me .me-icons .icon {
    width: 35px;
    aspect-ratio: 1 / 1;
}
main .left .header-me .me-icons i {
    color: #B1B1B1;
    font-size: 1.4rem;
}

/* main left side */
main .left {
    width: 35%;
    border-right: 1px solid #d1d1d1;
}
main .left .noti {
    height: 80px;
    padding: 15px 20px;
    background-color: #8EDAFC;
}
main .left .noti div:first-child {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: #F2FBFF;
    color: #8EDAFC;
    font-size: 1.3rem;
}
main .left .noti div:last-child {
    line-height: 1.1;
}
main .left .noti div:last-child a {
    font-size: small;
    color: #4F7485;
}

/* main right side */
main .right {
    width: 65%;
}
main #chat {
    height: calc(100% - 70px * 2);
    padding: 0 10px;
    overflow-y: hidden;    
}

/* utility */

